nav{
 display: flex;
 justify-content: space-between;
 align-items: center;  
 background-color: rgb(54, 54, 54); 
 color: white;
}
.pages{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.brand{
    padding: 5px;
    margin: 5px;
}
.logo{
    width: 45px;
    object-fit: contain;
}
