nav{
 display: flex;
 justify-content: space-between;
 align-items: center;  
 background-color: rgb(54, 54, 54); 
 color: white;
}
.pages{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.brand{
    padding: 5px;
    margin: 5px;
}
.logo{
    width: 45px;
    object-fit: contain;
}

a:hover {
    text-decoration:none; 
 }

 .btn{
     font-size: 18px;
     padding: 10px;
     margin: 5px;
     font-weight: 500;
     color:#fff;
 }
 .btn_loginn{
    background-color: #008CBA;

 }
 .btn_signup{
    background-color: #4CAF50
 }
 .btn_sign{
         background-color: #4CAF50;
         border: none;
         border-radius: 5px;
         font-size: 25px;
         padding: 10px;
         margin: 5px;
         font-weight: 600;
         color:#fff;
 }